/* Google Fonts - Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.main {
  height: 86vh;
  background-color: blue;
  display: flex;
  padding-top: 2rem;
}

.left_container {
  padding: 5rem;
  font-family: "Ubuntu", sans-serif;
  color: white;
  width: 50vw;
}

.heading {
  margin-top: 4rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.sub_heading {
  font-size: 1.4rem;
}

#download_app,
#start_trial {
  margin-top: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 2rem;
  margin-left: 0.3rem;
  color: white;
}

#download_app {
  background-color: rgb(223, 51, 117);
  border: 1px solid red;
}

#start_trial {
  background-color: rgba(18, 20, 17, 0.932);
  border: 1px solid black;
}

#download_app,
#start_trial:hover {
  cursor: pointer;
}
